* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Abyssinica SIL", serif;
}

p {
  font-family: "Lato", sans-serif;
}

.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(../images/background_1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.ab-main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(../images/background_1.jpg);
  background-position: center;
  background-size: cover;
  height: 167vh;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.582);
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  width: 90px;
  height: 50px;
  border-radius: 5px;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px;
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #56c596;
}

.search {
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #56c596;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn {
  width: 100px;
  height: 40px;
  background: #56c596;
  border: 2px solid #56c596;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}
.btn:hover {
  color: #000;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
}

.content .par {
  width: 750px;
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1 {
  font-family: "Times New Roman";
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #56c596;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.content .cn a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}

.cn:hover {
  background-color: #fff;
}

.content span {
  color: #56c596;
  font-size: 65px;
}

.form {
  width: 250px;
  height: 380px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: absolute;
  top: -20px;
  left: 870px;
  transform: translate(0%, -5%);
  border-radius: 10px;
  padding: 25px;
}

.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #56c596;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #56c596;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial;
}

.btnn {
  width: 240px;
  height: 40px;
  background: #56c596;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.btnn:hover {
  background: #fff;
  color: #56c596;
}
.btnn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form .link a {
  text-decoration: none;
  color: #56c596;
}

.row_courses {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  background-color: rgba(0, 38, 255, 0.367);
}

.col-sm:hover {
  opacity: 0.6;
  transform: scale(1.1);
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #56c596;
}

.our-courses {
  text-align: center;
  padding-top: 40px;
  font-size: xx-large;
}

.par1 {
  padding: 20px;
  font-size: xx-large;
}

.img1 {
  margin-left: 30px;
  width: 580px;
  height: 500px;
}

.row_courses .contact-btn {
  width: 200px;
  height: 40px;
  background: #56c596;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.row_courses .contact-btn a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background-color: #fff;
}

.par2 {
  font-size: xx-large;
  margin-left: 30px;
  padding-right: 20px;
}

.img2 {
  margin-right: 30px;
  padding-bottom: 10px;
  width: 580px;
  height: 500px;
}

footer {
  background-color: #b2b4da;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}

.title-about {
  color: #fff;
  margin-top: 20px;
  margin-left: 70px;
  padding-left: 25px;
}

.about_info {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-top: 20px;
}

.about_info .history-about {
  color: #56c596;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 70px;
  padding-left: 25px;
}

.par-about {
  color: #fff;
  width: 500px;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 70px;
  padding-left: 25px;
}

.about-img {
  margin-right: 125px;
}

.mission {
  color: #56c596;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 70px;
  padding-left: 25px;
}

.cn-about {
  width: 160px;
  height: 40px;
  background: #56c596;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 90px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s ease;
}

.about_info .cn-about a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}

.cn-about:hover {
  background-color: #fff;
}

.em-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  color: #56c596;
}

.info-ab {
  color: #56c596;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 70px;
  padding-left: 25px;
}

.all-img {
  box-sizing: border-box;
}

.column {
  float: left;
  margin-left: 170px;
  padding-left: 20px;
  width: 200px;
  height: 200px;
}

.column:hover {
  opacity: 0.6;
  transform: scale(1.1);
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #56c596;
}

.row::after {
  clear: both;
  display: table;
}

.es {
  color: #56c596;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 70px;
  padding-left: 25px;
}

.bc {
  color: #56c596;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 70px;
  padding-left: 25px;
}

.cn-text {
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 70px;
  padding-left: 20px;
}

.cn-text .cn-title {
  margin-left: 50px;
  padding-left: 30px;
  margin-top: 30px;
  color: #56c596;
}

.par-cn {
  color: #fff;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 70px;
  padding-left: 25px;
}

.cn-main1 {
  position: relative;
  border: 1px solid;
  margin-top: 50px;
  margin-left: 300px;
  width: 680px;
  padding-left: 20px;
}

.cn-main2 {
  margin-top: 10px;
  width: 500px;
  padding-bottom: 5px;
}

.cn-title1 {
  padding-top: 10px;
  color: #56c596;
}

.par-cn1 {
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 13px;
  color: #fff;
}

.cn-srch1 {
  font-family: "Abyssinica SIL", serif;
  width: 200px;
  height: 40px;
  background: transparent;
  border-bottom: 1px solid #56c596;
  border-top: 1px solid #56c596;
  border-right: 1px solid #56c596;
  border-left: 1px solid #56c596;
  margin-top: 13px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

.cn1-about {
  width: 90px;
  height: 30px;
  background: #56c596;
  border: none;
  margin-top: 5px;
  margin-left: 290px;
  margin-bottom: 5px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s ease;
}

.cn1-about a {
  text-decoration: none;
}

.cn-srch2 {
  font-family: "Abyssinica SIL", serif;
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #56c596;
  margin-top: 13px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}

.cn-srch3 {
  font-family: "Abyssinica SIL", serif;
  width: 410px;
  height: 125px;
  border: 1px solid;
  margin-top: 5px;
}

.cn-msg {
  color: #fff;
}

.sp {
  color: red;
}

.contact-info {
  float: right;
  border-left: 1px solid;
  margin-top: -38px;
}

.cn-info {
  border: 1px solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  color: #56c596;
  padding-left: 10px;
  padding-top: 15px;
  width: 250px;
  height: 120px;
}

.cn-info a {
  border-bottom: 1px solid #56c596;
}

.contact-info2 {
  color: #56c596;
  padding-bottom: 10px;
  text-decoration: underline;
}
.social1 {
  margin-top: 80px;
  padding-top: 5px;
}

.i {
  border-radius: 40px;
  margin-left: 7px;
  border-top: 1px solid;
}
